<mat-card class="menucard">
  <mat-card-content>
      <h2 class="title">Új termék létrhozása</h2>
 <button mat-raised-button routerLinkActive="active" routerLink="/product-list" class="menubtn">Termékek megtekintése</button>
 <button mat-raised-button routerLinkActive="active" routerLink="/account-info" class="menubtn">Felhasználó adatai</button>
 <button mat-raised-button  routerLinkActive="active" (click)=logout() class="logout">Kijelentkezés</button>
</mat-card-content>
</mat-card>

<mat-card class="card">
  <h2 class="title">Új termék létrehozása</h2>
  <mat-card-content>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="form" >
    <br>
    <mat-form-field >
      <input matInput type="text" placeholder="Name" formControlName="name">
    </mat-form-field>
    <br>

    <mat-form-field >
      <input matInput  placeholder="Mennyiség" type="text"  formControlName="amount">
    </mat-form-field>
    <br>

    <mat-form-field >
      <input matInput  placeholder="Mértékegység" type="text" formControlName="unit">
    </mat-form-field>
    <br>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Lejárati idő (yyyy.MM.dd.)" type="text" formControlName="limit" />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> 
    <br>

    <button color="primary" mat-raised-button type="submit"  class="submit" >Létrehozás</button>

  </form>
</mat-card-content>
</mat-card>
