<mat-card class="menucard">
  <mat-card-content>
    <h2 class="title">Felhasználó adatai</h2>
 <button mat-raised-button routerLinkActive="active" routerLink="/product-list" class="menubtn">Termékek megtekintése</button>
 <button mat-raised-button routerLinkActive="active" routerLink="/product-create" class="menubtn">Új termék létrehozása</button>
 <button mat-raised-button  routerLinkActive="active" (click)=logout() class="logout">Kijelentkezés</button>
</mat-card-content>
</mat-card>



    <mat-card class="card">
      <h2 class="title">Felhasználó adatai</h2>
      <mat-card-content>
        <br>
        <div>Név: {{this.name}}</div>
        <br>
        <div>Felhasználónév: {{this.username}}</div>
        <br>
        <div>E-mail: {{this.email}}</div>
      </mat-card-content>
    </mat-card>

   